<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ducle.learnengforkids">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Activities.ChoiGameActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.DangNhapActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DictionaryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.WatchVideoActicity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.PlayVideoActivity"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.MainMenuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Admin.QuanLyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Admin.QuanLyTuVung"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Admin.QuanLyUser"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.DoanHinhActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.YesNoActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>